body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: auto;
  font-size: 3.5rem;
  font-family: 'Lemonada', cursive;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2rem;
}

h3 {
  font-family: 'Oswald', sans-serif;
  color: #11999E;
  font-size: 1.5rem;
}

.top-container {
  background: #c0ffb3;
  position: relative;
  padding-top: 200px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 175px;
  bottom: 300px;
}

.my-image {
  height: 150px;
  width: 115px;
  border-radius: 50%;
}

.hello {
  font-family: 'Lemonada', cursive;
}

.top-para {
  font-family: 'Lemonada', cursive;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2;
}

.programming {
  height: 300px;
}

.study {
  height: 300px;
}

a {
  color: #11999E;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  color: #ffffff;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.programming {
  float: left;
  margin-right: 30px;
}

.study {
  float: right;
  margin-left: 30px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 7.5%;
}

.middle-container {
  margin: 100px auto;
}

.bottom-para {
  line-height: 2;
}

.mid-para {
  line-height: 2;
  text-align: center;
}

.button {
  background: linear-gradient(to bottom, #66bfbf 5%, #4cdede 100%);
  background-color: #66bfbf;
  border-radius: 42px;
  border: 4px solid #66bfbf;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(to bottom, #4cdede 5%, #66bfbf 100%);
  background-color: #4cdede;
}

.button:active {
  position: relative;
  top: 1px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.copyright {
  font-size: 0.90em;
  color: #EAF6F6;
  padding: 20px 0;
}
